{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:jsx-a11y/recommended"
    ],
    "plugins": [
        "react",
        "@typescript-eslint",
        "react-hooks"
    ],
    "env": {
        "browser": true,
        "commonjs": true,
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true,
            "jsx": true
        }
    },
    "parser": "@typescript-eslint/parser",
    "rules": {
        "no-console": "error",
        "strict": [
            "error",
            "global"
        ],
        "curly": "off",
        "eqeqeq": "off",
        "jsx-quotes": "off",
        "dot-notation": "off",
        "semi": "off",
        "quotes": "off",
        "no-floating-decimal": "off",
        "prettier/prettier": 0,
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
            "error"
        ],
        "react/react-in-jsx-scope": "off",
        "react/display-name": "off",
        "react/no-unescaped-entities": "off",
        "react/prop-types": "off",
        "no-debugger": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "no-duplicate-imports": "error"
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        }
    }
}