.loginInputContainer {
    display: flex;
    /* flex:1; */
    height: 12rem;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 10px 1px #888888;
    z-index: 1;
}

.innerContainer {
    flex:0.9;
}

.heading{
    margin-bottom: 0.6rem;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}